# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file
local.properties

# Android Studio
.idea/
*.iml
*.swp

# Keystore files
*.jks
*.keystore

# OS-specific files
.DS_Store
Thumbs.db

# Dependencies
.classpath
.project
.settings/
